@import "tailwindcss";
@tailwind base;
@tailwind utilities;

:root {
  --bg-gradient: linear-gradient(110deg, #4b6cb7 11.3%, #182848 99.3%);
  --text-color: #ffffff;
}
/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--bg-gradient);
  color: var(--text-color);
  font-family: Monospace, Helvetica, sans-serif;
}

@layer base {
  h1 {
    @apply text-3xl md:text-4xl lg:text-6xl font-bold;
  }
  h2 {
    @apply text-xl md:text-2xl lg:text-4xl font-semibold;
  }
  p, span {
    @apply text-xs md:text-xl lg:text-2xl;
  }
}
